
<section class="intro">

	<div class="row">
	  <div class="large-5 large-offset-7 columns contact">
	  	<p>508-971-0212</p>
	  	<p>truenorthflow@comcast.net</p>
	  </div>
	</div>
	
	<div class="row">
	  <div class="small-11 large-7 large-centered columns">
	  	<div class="logo"><%= image_tag('logo.png') %></div>
	  </div>
	</div>
	
	<div class="newsletter">
		<div class="row">
		  	<div class="small-12 large-centered  large-12 columns">
		  	<div class="small-12 large-7 small-centered large-uncentered columns">
		  		<p class="text">Enter your email to recieve monthly product and company updates.</p>
		  	</div>

		  	<div class="small-12 large-5  small-centered large-uncentered columns">

				<div class="email-input">
					<span class="email-icon"></span>
					<input type="text" placeholder="your@email.com"> 
					<div class="button-blue"> Submit</div>
				</div>

			</div>

		  	</div>
		</div>
	</div>
</section>

<!-- remove text align, maybe add a fourth company, link them  -->
<section class="representing">
	
	<div class="row">
		<div class="small-11 large-12 small-centered columns">
			<h2 class="title">The Companies We Represent</h2>
		</div>
	</div>

	<div class="row">
	  <div class="small-6 large-4 columns">
	  	<div class="company-logo wiggler">
	  		<%= link_to("http://mccrometer.com/", :target => "_blank") do %><%= image_tag('mccrometer.png') %><% end %>	  		
	  	</div>
	  </div>
	  <div class="small-6 large-4 columns">
	  	<div class="company-logo wiggler">
	  		<%= link_to("http://us.magnetrol.com/Home.aspx", :target => "_blank") do %><%= image_tag('magnetrol.png') %> <% end %>	  	 		
	  	</div>
	  </div>
	  <div class="small-6 large-4 columns">
	  		<div class="company-logo orion">
	  			<%= link_to("http://www.orioninstruments.com/html/about_us_flash.aspx", :target => "_blank") do %><%= image_tag('orion.png') %><% end %>
	  		</div>
	  </div>
	
	  <div class="small-6 large-5 large-offset-1 columns">
	  	<div class="company-logo">
	  		<%= link_to("http://www.thermoscientific.com/ecomm/servlet/productscatalog_11152_L10833_82088_-1_4", :target => "_blank") do %><%= image_tag('thermo.png') %> <% end %>	  	 		
	  	</div>
	  </div>
	  <div class="small-6 large-5 columns">
	  		<div class="company-logo eastech">
	  			<%= link_to("http://www.eastechflow.com/", :target => "_blank") do %><%= image_tag('eastech.png') %><% end %>
	  		</div>
	  </div>
	  <div class="small-0 large-1 columns">
	  		<div class="company-logo">
	  			
	  		</div>
	  </div>

	</div>

</section>

<section class="contact-area">

	<div class="row">

		<div class="small-12 large-3 columns">
			<h2>Contact</h2>
		</div>

		<div class="small-12 large-3 columns">
			<h3>Email</h3>
			<p>truenorthflow@comcast.net</p>
			</br>
			<h3>Mobile</h3>
			<p>508-971-7172</p>
			</br>
		</div>

		<div class="small-12 large-3 columns">
			<h3>Office</h3>
			<p>508-678-6900</p>
			</br>
			<h3>Fax</h3>
			<p>508-677-3850</p>
			</br>
		</div>

		<div class="small-12 large-3 columns">
			<h3>Address</h3>
			<p>P.O. Box 265</br>
			Westport, MA 02790</p>
			</br>
		</div>

	</div>

	<div class="row">
	  <div class="large-4 large-offset-8 columns copyright">
	  	<p>Copyright 2013 True North Systems</p>
	  </div>
	</div>
	

</section>




